H1 { font-family: Verdana; font-size: large; }
H2 { font-family: Verdana; font-size: medium; }
H3 { font-family: Verdana; font-size: small; font-style: italic; }
P  { font-family: Verdana; font-size: small; }
A  { font-family: Verdana; font-size: small; }
LI { font-family: Verdana; font-size: small; }
